// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$border-radius-root: 0.75rem;

$navigation-drawer-mobile-temporary-elevation: 0;

$time-picker-title-btn-height: 56px;

$card-border-radius: $border-radius-root + .25rem;

$list-padding: 0;

$dialog-border-radius: $border-radius-root + .25rem;

/* HTML STYLE FOR SCROLLBAR */
html {
    overflow-y: scroll;
    overflow-y: overlay;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(128, 128, 128, 0.05);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.3);
    border-radius: 0.25rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.cursor-pointer {
    cursor: pointer;
}
